<div class="character-card" *ngIf="character">
    <div class="character-card--image">
        <img src={{character.image}} alt="Duck With Muscles">
    </div>
    <div class="character-card--description">
        <h2 class="character-card--description--name">{{character.name}}</h2>
        <span class="character-card--description--id">Id: {{character.id}}</span>
        <span class="character-card--description--gender">{{character.gender}}</span>
        <span class= "character-card--description--status">{{character.status}} - {{character.species}}</span>
    </div>
</div>
